section.banner-wrap.clearfix
	.banner
		.item
			.banner-img
				img(src="img/banner/2.jpg", alt="")
			.banner-caption
				.container
					.row
						.col-12.col-md-6.col-lg-4
							.logo.animated.fadeInLeft
								img(src="img/banner/brand2.png", alt="")
							//- .caption.animated.fadeInRight Đồng hồ đôi dây kim loại Premier
							a.link.animated.fadeInUp(href="#") Xem thêm
		.item
			.banner-img
				img(src="img/banner/3.jpg", alt="")
			.banner-caption
				.container
					.row
						.col-12.col-md-6.col-lg-4
							.logo
								img(src="img/banner/brand3.png", alt="")
							.caption bộ sưu tập cỏ may mắn của ogival
							a.link(href="#") Xem thêm
		.item
			.banner-img
				img(src="img/banner/1.jpg", alt="")
			.banner-caption
				.container
					.row
						.col-12.col-md-6.col-lg-4
							.logo
								img(src="img/banner/brand1.png", alt="")
							.caption Đồng hồ đôi dây kim loại Premier
							a.link(href="#") Xem thêm