section.home-brand.clearfix.wow.fadeInUp
	.container
		.home-brand-slide
			.item
				a.brand-logo(href="#!")
					img(src="img/brand/1.png", alt="")
			.item
				a.brand-logo(href="#!")
					img(src="img/brand/2.png", alt="")
			.item
				a.brand-logo(href="#!")
					img(src="img/brand/3.png", alt="")
			.item
				a.brand-logo(href="#!")
					img(src="img/brand/4.png", alt="")
			.item
				a.brand-logo(href="#!")
					img(src="img/brand/5.png", alt="")
			.item
				a.brand-logo(href="#!")
					img(src="img/brand/6.png", alt="")
			.item
				a.brand-logo(href="#!")
					img(src="img/brand/7.png", alt="")
			.item
				a.brand-logo(href="#!")
					img(src="img/brand/8.png", alt="")
section.home-sale.clearfix.wow.fadeIn
	.container
		h1.home-title.wow.fadeInUp Khuyến mãi đặc biệt - đồng hồ giảm giá sốc
		.home-sale-slide.product-list.wow.fadeInUp
			.item
				.product-col
					figure.wow.zoomIn
						.promotion.sale <img src="img/sale30.png", alt=""/>
						.img-wrap
							a.product-img(href="#")
								img(src="img/product/1.png", alt="")
						figcaption
							.product-brand CASIO
							h3.product-name
								a(href="#") SKAGEN SKW6234
							.product-status Tình trạng: Sẵn hàng
							.product-view Lượt xem: 1164
							.product-price.clearfix
								.new 5.312.000 đ
								.old 6.650.000 đ
							.btn-productwrap
								a.btn-view(href="#") Chi tiết
			.item
				.product-col
					figure.wow.zoomIn
						.promotion.sale <img src="img/sale30.png", alt=""/>
						.img-wrap
							a.product-img(href="#")
								img(src="img/product/2.png", alt="")
						figcaption
							.product-brand CASIO
							h3.product-name
								a(href="#") SKAGEN SKW6234
							.product-status Tình trạng: Sẵn hàng
							.product-view Lượt xem: 1164
							.product-price.clearfix
								.new 5.312.000 đ
								.old 6.650.000 đ
							.btn-productwrap
								a.btn-view(href="#") Chi tiết
			.item
				.product-col
					figure.wow.zoomIn
						.promotion.sale <img src="img/sale30.png", alt=""/>
						.img-wrap
							a.product-img(href="#")
								img(src="img/product/3.png", alt="")
						figcaption
							.product-brand CASIO
							h3.product-name
								a(href="#") SKAGEN SKW6234
							.product-status Tình trạng: Sẵn hàng
							.product-view Lượt xem: 1164
							.product-price.clearfix
								.new 5.312.000 đ
								.old 6.650.000 đ
							.btn-productwrap
								a.btn-view(href="#") Chi tiết
			.item
				.product-col
					figure.wow.zoomIn 
						.promotion.sale <img src="img/sale30.png", alt=""/>
						.img-wrap
							a.product-img(href="#")
								img(src="img/product/4.png", alt="")
						figcaption
							.product-brand CASIO
							h3.product-name
								a(href="#") SKAGEN SKW6234
							.product-status Tình trạng: Sẵn hàng
							.product-view Lượt xem: 1164
							.product-price.clearfix
								.new 5.312.000 đ
								.old 6.650.000 đ
							.btn-productwrap
								a.btn-view(href="#") Chi tiết
			.item
				.product-col
					figure.wow.zoomIn 
						.promotion.sale <img src="img/sale30.png", alt=""/>
						.img-wrap
							a.product-img(href="#")
								img(src="img/product/5.png", alt="")
						figcaption
							.product-brand CASIO
							h3.product-name
								a(href="#") SKAGEN SKW6234
							.product-status Tình trạng: Sẵn hàng
							.product-view Lượt xem: 1164
							.product-price.clearfix
								.new 5.312.000 đ
								.old 6.650.000 đ
							.btn-productwrap
								a.btn-view(href="#") Chi tiết
			.item
				.product-col
					figure.wow.zoomIn 
						.promotion.sale <img src="img/sale30.png", alt=""/>
						.img-wrap
							a.product-img(href="#")
								img(src="img/product/6.png", alt="")
						figcaption
							.product-brand CASIO
							h3.product-name
								a(href="#") SKAGEN SKW6234
							.product-status Tình trạng: Sẵn hàng
							.product-view Lượt xem: 1164
							.product-price.clearfix
								.new 5.312.000 đ
								.old 6.650.000 đ
							.btn-productwrap
								a.btn-view(href="#") Chi tiết
			.item
				.product-col
					figure.wow.zoomIn 
						.promotion.sale <img src="img/sale10.png", alt=""/>
						.img-wrap
							a.product-img(href="#")
								img(src="img/product/7.png", alt="")
						figcaption
							.product-brand CASIO
							h3.product-name
								a(href="#") SKAGEN SKW6234
							.product-status Tình trạng: Sẵn hàng
							.product-view Lượt xem: 1164
							.product-price.clearfix
								.new 5.312.000 đ
								.old 6.650.000 đ
							.btn-productwrap
								a.btn-view(href="#") Chi tiết
			.item
				.product-col
					figure.wow.zoomIn 
						.promotion.sale <img src="img/sale30.png", alt=""/>
						.img-wrap
							a.product-img(href="#")
								img(src="img/product/8.png", alt="")
						figcaption
							.product-brand CASIO
							h3.product-name
								a(href="#") SKAGEN SKW6234
							.product-status Tình trạng: Sẵn hàng
							.product-view Lượt xem: 1164
							.product-price.clearfix
								.new 5.312.000 đ
								.old 6.650.000 đ
							.btn-productwrap
								a.btn-view(href="#") Chi tiết
section.home-category.clearfix.wow.fadeIn
	.container
		.row
			.col-12.col-sm-6.col-lg-3
				a.category.wow.fadeInUp(href="#!")
					figure
						.cate-img
							img(src="img/cate/1.jpg", alt="")
						figcaption
							.cate-name Đồng hồ nam
							.cate-des Tổng hợp các mẫu đồng hồ nam
							.link Xem thêm
			.col-12.col-sm-6.col-lg-3
				a.category.wow.fadeInUp(href="#!")
					figure
						.cate-img
							img(src="img/cate/2.jpg", alt="")
						figcaption
							.cate-name Đồng hồ nữ
							.cate-des Tổng hợp các mẫu đồng hồ nữ
							.link Xem thêm
			.col-12.col-sm-12.col-lg-6
				a.category.big.wow.fadeInUp(href="#!")
					figure
						.cate-img
							img(src="img/cate/3.jpg", alt="")
						figcaption
							.cate-name Đồng hồ đôi
							.cate-des Tổng hợp các mẫu đồng hồ đôi
							.link Xem thêm
section.home-banner.clearfix
	.container
		.row
			.col-12.col-md-4
				a.bn.wow.fadeInUp(href="#!")
					img(src="img/banner/ad1.jpg", alt="")
			.col-12.col-md-4
				a.bn.wow.fadeInUp(href="#!")
					img(src="img/banner/ad2.jpg", alt="")
			.col-12.col-md-4
				a.bn.wow.fadeInUp(href="#!")
					img(src="img/banner/ad3.jpg", alt="")

section.home-newproduct.clearfix.wow.fadeIn
	.container
		h2.home-title.wow.fadeInUp Sản phẩm mới
		.product-group.clearfix.wow.fadeInUp
			.row
				.col-12.col-custom-2
					a.product-banner.wow.zoomIn(href="#!")
						img(src="img/product/b1.jpg", alt="")
				.col-12.col-custom-3
					.product-list
						.row
							article.col-12.col-sm-4.col-lg-4
								.product-col
									figure.wow.zoomIn
										.promotion.new <img src="img/new.png", alt=""/>
										.img-wrap
											a.product-img(href="#")
												img(src="img/product/1.png", alt="")
										figcaption
											.product-brand CASIO
											h3.product-name
												a(href="#") SKAGEN SKW6234
											.product-status Tình trạng: Sẵn hàng
											.product-view Lượt xem: 1164
											.product-price.clearfix
												.new 5.312.000 đ
												.old 6.650.000 đ
											.btn-productwrap
												a.btn-view(href="#") Chi tiết
							article.col-12.col-sm-4.col-lg-4
								.product-col
									figure.wow.zoomIn
										.promotion.hot <img src="img/hot.png", alt=""/>
										.img-wrap
											a.product-img(href="#")
												img(src="img/product/2.png", alt="")
										figcaption
											.product-brand CASIO
											h3.product-name
												a(href="#") SKAGEN SKW6234
											.product-status Tình trạng: Sẵn hàng
											.product-view Lượt xem: 1164
											.product-price.clearfix
												.new 5.312.000 đ
												.old 6.650.000 đ
											.btn-productwrap
												a.btn-view(href="#") Chi tiết
							article.col-12.col-sm-4.col-lg-4
								.product-col
									figure.wow.zoomIn
										.img-wrap
											a.product-img(href="#")
												img(src="img/product/3.png", alt="")
										figcaption
											.product-brand CASIO
											h3.product-name
												a(href="#") SKAGEN SKW6234
											.product-status Tình trạng: Sẵn hàng
											.product-view Lượt xem: 1164
											.product-price.clearfix
												.new 5.312.000 đ
												.old 6.650.000 đ
											.btn-productwrap
												a.btn-view(href="#") Chi tiết
		.product-group.clearfix.wow.fadeInUp
			.row
				.col-12.col-custom-3
					.product-list
						.row
							article.col-12.col-sm-4.col-lg-4
								.product-col
									figure.wow.zoomIn
										.promotion.new <img src="img/new.png", alt=""/>
										.img-wrap
											a.product-img(href="#")
												img(src="img/product/4.png", alt="")
										figcaption
											.product-brand CASIO
											h3.product-name
												a(href="#") SKAGEN SKW6234
											.product-status Tình trạng: Sẵn hàng
											.product-view Lượt xem: 1164
											.product-price.clearfix
												.new 5.312.000 đ
												.old 6.650.000 đ
											.btn-productwrap
												a.btn-view(href="#") Chi tiết
							article.col-12.col-sm-4.col-lg-4
								.product-col
									figure.wow.zoomIn
										.promotion.hot <img src="img/hot.png", alt=""/>
										.img-wrap
											a.product-img(href="#")
												img(src="img/product/5.png", alt="")
										figcaption
											.product-brand CASIO
											h3.product-name
												a(href="#") SKAGEN SKW6234
											.product-status Tình trạng: Sẵn hàng
											.product-view Lượt xem: 1164
											.product-price.clearfix
												.new 5.312.000 đ
												.old 6.650.000 đ
											.btn-productwrap
												a.btn-view(href="#") Chi tiết
							article.col-12.col-sm-4.col-lg-4
								.product-col
									figure.wow.zoomIn
										.img-wrap
											a.product-img(href="#")
												img(src="img/product/6.png", alt="")
										figcaption
											.product-brand CASIO
											h3.product-name
												a(href="#") SKAGEN SKW6234
											.product-status Tình trạng: Sẵn hàng
											.product-view Lượt xem: 1164
											.product-price.clearfix
												.new 5.312.000 đ
												.old 6.650.000 đ
											.btn-productwrap
												a.btn-view(href="#") Chi tiết
				.col-12.col-custom-2
					a.product-banner.wow.zoomIn(href="#!")
						img(src="img/product/b2.jpg", alt="")
		.product-group.clearfix.wow.fadeInUp
			.row
				.col-12.col-custom-2
					a.product-banner.wow.zoomIn(href="#!")
						img(src="img/product/b3.jpg", alt="")
				.col-12.col-custom-3
					.product-list
						.row
							article.col-12.col-sm-4.col-lg-4
								.product-col
									figure.wow.zoomIn
										.promotion.new <img src="img/new.png", alt=""/>
										.img-wrap
											a.product-img(href="#")
												img(src="img/product/7.png", alt="")
										figcaption
											.product-brand CASIO
											h3.product-name
												a(href="#") SKAGEN SKW6234
											.product-status Tình trạng: Sẵn hàng
											.product-view Lượt xem: 1164
											.product-price.clearfix
												.new 5.312.000 đ
												.old 6.650.000 đ
											.btn-productwrap
												a.btn-view(href="#") Chi tiết
							article.col-12.col-sm-4.col-lg-4
								.product-col
									figure.wow.zoomIn
										.promotion.hot <img src="img/hot.png", alt=""/>
										.img-wrap
											a.product-img(href="#")
												img(src="img/product/8.png", alt="")
										figcaption
											.product-brand CASIO
											h3.product-name
												a(href="#") SKAGEN SKW6234
											.product-status Tình trạng: Sẵn hàng
											.product-view Lượt xem: 1164
											.product-price.clearfix
												.new 5.312.000 đ
												.old 6.650.000 đ
											.btn-productwrap
												a.btn-view(href="#") Chi tiết
							article.col-12.col-sm-4.col-lg-4
								.product-col
									figure.wow.zoomIn
										.img-wrap
											a.product-img(href="#")
												img(src="img/product/9.png", alt="")
										figcaption
											.product-brand CASIO
											h3.product-name
												a(href="#") SKAGEN SKW6234
											.product-status Tình trạng: Sẵn hàng
											.product-view Lượt xem: 1164
											.product-price.clearfix
												.new 5.312.000 đ
												.old 6.650.000 đ
											.btn-productwrap
												a.btn-view(href="#") Chi tiết
section.home-hotsale.clearfix.wow.fadeIn
	.container
		h2.home-title.wow.fadeInUp Sản phẩm đồng hồ bán chạy
		.brand-list
			.row
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/1.jpg", alt="")
								.brand-logo
									img(src="img/brand/1.png", alt="")
								//- .brand-des có 234 sản phẩm
							figcaption
								.brand-name
									img(src="img/brand/1.png", alt="")
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/2.jpg", alt="")
								.brand-logo
									img(src="img/brand/2.png", alt="")
								//- .brand-des có 234 sản phẩm
							figcaption
								.brand-name
									img(src="img/brand/2.png", alt="")
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/3.jpg", alt="")
								.brand-logo
									img(src="img/brand/3.png", alt="")
								//- .brand-des có 234 sản phẩm
							figcaption
								.brand-name
									img(src="img/brand/3.png", alt="")
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/4.jpg", alt="")
								.brand-logo
									img(src="img/brand/4.png", alt="")
								//- .brand-des có 234 sản phẩm
							figcaption
								.brand-name
									img(src="img/brand/4.png", alt="")
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/5.jpg", alt="")
								.brand-logo
									img(src="img/brand/5.png", alt="")
								//- .brand-des có 234 sản phẩm
							figcaption
								.brand-name
									img(src="img/brand/5.png", alt="")
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/6.jpg", alt="")
								.brand-logo
									img(src="img/brand/6.png", alt="")
								//- .brand-des có 234 sản phẩm
							figcaption
								.brand-name
									img(src="img/brand/6.png", alt="")
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/7.jpg", alt="")
								.brand-logo
									img(src="img/brand/7.png", alt="")
								//- .brand-des có 234 sản phẩm
							figcaption
								.brand-name
									img(src="img/brand/7.png", alt="")
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/8.jpg", alt="")
								.brand-logo
									img(src="img/brand/8.png", alt="")
								//- .brand-des có 234 sản phẩm
							figcaption
								.brand-name
									img(src="img/brand/8.png", alt="")
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/9.jpg", alt="")
								.brand-logo
									img(src="img/brand/9.png", alt="")
								//- .brand-des có 234 sản phẩm
							figcaption
								.brand-name
									img(src="img/brand/9.png", alt="")
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/10.jpg", alt="")
								.brand-logo
									img(src="img/brand/10.png", alt="")
								//- .brand-des có 234 sản phẩm
							figcaption
								.brand-name
									img(src="img/brand/10.png", alt="")
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/11.jpg", alt="")
								.brand-logo
									img(src="img/brand/11.png", alt="")
								//- .brand-des có 234 sản phẩm
							figcaption
								.brand-name
									img(src="img/brand/11.png", alt="")
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/12.jpg", alt="")
								.brand-logo
									img(src="img/brand/12.png", alt="")
								//- .brand-des có 234 sản phẩm
							figcaption
								.brand-name
									img(src="img/brand/12.png", alt="")
section.home-popular.clearfix.wow.fadeIn
	.container
		h2.home-title.wow.fadeInUp Sản phẩm yêu thích
		.banner-small.wow.fadeInUp
			.item
				a(href="#!")
					img(src="img/banner/s1.jpg", alt="")
		.product-list.product-list2
			.row.flex-content-center
				article.col-6.col-sm-4.col-lg-3.col-custom
					.product-col
						figure.wow.zoomIn
							.promotion.new <img src="img/new.png", alt=""/>
							.img-wrap
								a.product-img(href="#")
									img(src="img/product/1.png", alt="")
							figcaption
								.product-brand CASIO
								h3.product-name
									a(href="#") SKAGEN SKW6234
								.product-status Tình trạng: Sẵn hàng
								.product-view Lượt xem: 1164
								.product-price.clearfix
									.new 5.312.000 đ
									.old 6.650.000 đ
								.btn-productwrap
									a.btn-view(href="#") Chi tiết
				article.col-6.col-sm-4.col-lg-3.col-custom
					.product-col
						figure.wow.zoomIn
							.promotion.hot <img src="img/hot.png", alt=""/>
							.img-wrap
								a.product-img(href="#")
									img(src="img/product/2.png", alt="")
							figcaption
								.product-brand CASIO
								h3.product-name
									a(href="#") SKAGEN SKW6234
								.product-status Tình trạng: Sẵn hàng
								.product-view Lượt xem: 1164
								.product-price.clearfix
									.new 5.312.000 đ
									.old 6.650.000 đ
								.btn-productwrap
									a.btn-view(href="#") Chi tiết
				article.col-6.col-sm-4.col-lg-3.col-custom
					.product-col
						figure.wow.zoomIn
							.img-wrap
								a.product-img(href="#")
									img(src="img/product/3.png", alt="")
							figcaption
								.product-brand CASIO
								h3.product-name
									a(href="#") SKAGEN SKW6234
								.product-status Tình trạng: Sẵn hàng
								.product-view Lượt xem: 1164
								.product-price.clearfix
									.new 5.312.000 đ
									.old 6.650.000 đ
								.btn-productwrap
									a.btn-view(href="#") Chi tiết
				article.col-6.col-sm-4.col-lg-3.col-custom
					.product-col
						figure.wow.zoomIn 
							.img-wrap
								a.product-img(href="#")
									img(src="img/product/4.png", alt="")
							figcaption
								.product-brand CASIO
								h3.product-name
									a(href="#") SKAGEN SKW6234
								.product-status Tình trạng: Sẵn hàng
								.product-view Lượt xem: 1164
								.product-price.clearfix
									.new 5.312.000 đ
									.old 6.650.000 đ
								.btn-productwrap
									a.btn-view(href="#") Chi tiết
				article.col-6.col-sm-4.col-lg-3.col-custom
					.product-col
						figure.wow.zoomIn 
							.promotion.new <img src="img/new.png", alt=""/>
							.img-wrap
								a.product-img(href="#")
									img(src="img/product/5.png", alt="")
							figcaption
								.product-brand CASIO
								h3.product-name
									a(href="#") SKAGEN SKW6234
								.product-status Tình trạng: Sẵn hàng
								.product-view Lượt xem: 1164
								.product-price.clearfix
									.new 5.312.000 đ
									.old 6.650.000 đ
								.btn-productwrap
									a.btn-view(href="#") Chi tiết
				article.col-6.col-sm-4.col-lg-3.col-custom
					.product-col
						figure.wow.zoomIn 
							.promotion.hot <img src="img/hot.png", alt=""/>
							.img-wrap
								a.product-img(href="#")
									img(src="img/product/6.png", alt="")
							figcaption
								.product-brand CASIO
								h3.product-name
									a(href="#") SKAGEN SKW6234
								.product-status Tình trạng: Sẵn hàng
								.product-view Lượt xem: 1164
								.product-price.clearfix
									.new 5.312.000 đ
									.old 6.650.000 đ
								.btn-productwrap
									a.btn-view(href="#") Chi tiết
				article.col-6.col-sm-4.col-lg-3.col-custom
					.product-col
						figure.wow.zoomIn 
							.promotion.sale <img src="img/sale10.png", alt=""/>
							.img-wrap
								a.product-img(href="#")
									img(src="img/product/7.png", alt="")
							figcaption
								.product-brand CASIO
								h3.product-name
									a(href="#") SKAGEN SKW6234
								.product-status Tình trạng: Sẵn hàng
								.product-view Lượt xem: 1164
								.product-price.clearfix
									.new 5.312.000 đ
									.old 6.650.000 đ
								.btn-productwrap
									a.btn-view(href="#") Chi tiết
				article.col-6.col-sm-4.col-lg-3.col-custom
					.product-col
						figure.wow.zoomIn 
							.img-wrap
								a.product-img(href="#")
									img(src="img/product/8.png", alt="")
							figcaption
								.product-brand CASIO
								h3.product-name
									a(href="#") SKAGEN SKW6234
								.product-status Tình trạng: Sẵn hàng
								.product-view Lượt xem: 1164
								.product-price.clearfix
									.new 5.312.000 đ
									.old 6.650.000 đ
								.btn-productwrap
									a.btn-view(href="#") Chi tiết
				article.col-6.col-sm-4.col-lg-3.col-custom
					.product-col
						figure.wow.zoomIn 
							.img-wrap
								a.product-img(href="#")
									img(src="img/product/9.png", alt="")
							figcaption
								.product-brand CASIO
								h3.product-name
									a(href="#") SKAGEN SKW6234
								.product-status Tình trạng: Sẵn hàng
								.product-view Lượt xem: 1164
								.product-price.clearfix
									.new 5.312.000 đ
									.old 6.650.000 đ
								.btn-productwrap
									a.btn-view(href="#") Chi tiết
				article.col-6.col-sm-4.col-lg-3.col-custom
					.product-col
						figure.wow.zoomIn 
							.promotion.new <img src="img/new.png", alt=""/>
							.img-wrap
								a.product-img(href="#")
									img(src="img/product/10.png", alt="")
							figcaption
								.product-brand CASIO
								h3.product-name
									a(href="#") SKAGEN SKW6234
								.product-status Tình trạng: Sẵn hàng
								.product-view Lượt xem: 1164
								.product-price.clearfix
									.new 5.312.000 đ
									.old 6.650.000 đ
								.btn-productwrap
									a.btn-view(href="#") Chi tiết
section.home-promotion-wrap.clearfix.wow.fadeIn
	.container
		.row
			.col-12.col-lg-6
				section.home-promotion.clearfix
					h3.home-title.text-left.wow.fadeInUp Khuyến mãi
					a.promotion.wow.fadeInUp(href="#!")
						img(src="img/banner/ha1.jpg", alt="")
					a.promotion.wow.fadeInUp(href="#!")
						img(src="img/banner/ha2.jpg", alt="")
			.col-12.col-lg-6
				section.home-video.clearfix
					h3.home-title.text-left.wow.fadeInUp Video clips
					.video-list
						.row
							.col-6.col-md-3.col-lg-12
								a.video.big.wow.fadeInUp(href="#!" data-fancybox="video")
									img(src="img/video/1.jpg", alt="")
							.col-6.col-md-3.col-lg-4
								a.video.wow.fadeInUp(href="#!" data-fancybox="video")
									img(src="img/video/2.jpg", alt="")
							.col-6.col-md-3.col-lg-4
								a.video.wow.fadeInUp(href="#!" data-fancybox="video")
									img(src="img/video/3.jpg", alt="")
							.col-6.col-md-3.col-lg-4
								a.video.wow.fadeInUp(href="#!" data-fancybox="video")
									img(src="img/video/4.jpg", alt="")
section.home-system-wrap.clearfix
	.container
		.row
			.col-12.col-lg-6
				.system-img.wow.fadeInLeft
					img(src="img/store/img1.jpg", alt="")
			.col-12.col-lg-6
				section.home-system.clearfix.wow.fadeInRight
					h3.home-title.text-left.wow.fadeInUp Hệ thống cửa hàng số 1 việt nam
					.filter.wow.fadeInUp
						select
							option Cửa hàng miền Nam
							option Cửa hàng miền Bắc
							option Cửa hàng miền Trung
					.store-list.clearfix.wow.fadeInUp
						.item
							.row
								.col-12.col-md-4
									.store
										.name Lotte Mart Gò Vấp
										.addr 242 Nguyễn Văn Lượng, P.10, Q.Gò Vấp, TP.HCM
								.col-12.col-md-4
									.store
										.name Lotte Mart Gò Vấp
										.addr 242 Nguyễn Văn Lượng, P.10, Q.Gò Vấp, TP.HCM
								.col-12.col-md-4
									.store
										.name Lotte Mart Gò Vấp
										.addr 242 Nguyễn Văn Lượng, P.10, Q.Gò Vấp, TP.HCM
								.col-12.col-md-4
									.store
										.name Lotte Mart Gò Vấp
										.addr 242 Nguyễn Văn Lượng, P.10, Q.Gò Vấp, TP.HCM
								.col-12.col-md-4
									.store
										.name Lotte Mart Gò Vấp
										.addr 242 Nguyễn Văn Lượng, P.10, Q.Gò Vấp, TP.HCM
								.col-12.col-md-4
									.store
										.name Lotte Mart Gò Vấp
										.addr 242 Nguyễn Văn Lượng, P.10, Q.Gò Vấp, TP.HCM
								.col-12.col-md-4
									.store
										.name Lotte Mart Gò Vấp
										.addr 242 Nguyễn Văn Lượng, P.10, Q.Gò Vấp, TP.HCM
								.col-12.col-md-4
									.store
										.name Lotte Mart Gò Vấp
										.addr 242 Nguyễn Văn Lượng, P.10, Q.Gò Vấp, TP.HCM
								.col-12.col-md-4
									.store
										.name Lotte Mart Gò Vấp
										.addr 242 Nguyễn Văn Lượng, P.10, Q.Gò Vấp, TP.HCM
						.item
							.row
								.col-12.col-md-4
									.store
										.name Lotte Mart Gò Vấp
										.addr 242 Nguyễn Văn Lượng, P.10, Q.Gò Vấp, TP.HCM
								.col-12.col-md-4
									.store
										.name Lotte Mart Gò Vấp
										.addr 242 Nguyễn Văn Lượng, P.10, Q.Gò Vấp, TP.HCM
								.col-12.col-md-4
									.store
										.name Lotte Mart Gò Vấp
										.addr 242 Nguyễn Văn Lượng, P.10, Q.Gò Vấp, TP.HCM
								.col-12.col-md-4
									.store
										.name Lotte Mart Gò Vấp
										.addr 242 Nguyễn Văn Lượng, P.10, Q.Gò Vấp, TP.HCM
								.col-12.col-md-4
									.store
										.name Lotte Mart Gò Vấp
										.addr 242 Nguyễn Văn Lượng, P.10, Q.Gò Vấp, TP.HCM
								.col-12.col-md-4
									.store
										.name Lotte Mart Gò Vấp
										.addr 242 Nguyễn Văn Lượng, P.10, Q.Gò Vấp, TP.HCM
								.col-12.col-md-4
									.store
										.name Lotte Mart Gò Vấp
										.addr 242 Nguyễn Văn Lượng, P.10, Q.Gò Vấp, TP.HCM
								.col-12.col-md-4
									.store
										.name Lotte Mart Gò Vấp
										.addr 242 Nguyễn Văn Lượng, P.10, Q.Gò Vấp, TP.HCM
								.col-12.col-md-4
									.store
										.name Lotte Mart Gò Vấp
										.addr 242 Nguyễn Văn Lượng, P.10, Q.Gò Vấp, TP.HCM
					.btn-wrap
						a.btn-viewnearest(href="#!") Tìm cửa hàng gần nhất
section.home-news.clearfix.wow.fadeIn
	.container
		h2.home-title.wow.fadeInUp Tin tức - Sự kiện
		.news-list
			.row
				article.col-12.col-sm-6.col-xl-3
					.news-col.wow.zoomIn
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								h3.news-name 
									a(href="#!") Nên mua đồng hộ Thụy Sỹ, Nhật bản hay thời trang?
								.news-des Chúng ta cùng điểm qua những nét làm nên thương hiệu cho các dòng đồng hồ có trên thị trường hiện nay.
								a.link(href="#!") Xem thêm
				article.col-12.col-sm-6.col-xl-3
					.news-col.wow.zoomIn
						figure
							a.news-img(href="#!")
								img(src="img/news/2.jpg", alt="")
							figcaption
								h3.news-name 
									a(href="#!") Nên mua đồng hộ Thụy Sỹ, Nhật bản hay thời trang?
								.news-des Chúng ta cùng điểm qua những nét làm nên thương hiệu cho các dòng đồng hồ có trên thị trường hiện nay.
								a.link(href="#!") Xem thêm
				article.col-12.col-sm-6.col-xl-3
					.news-col.wow.zoomIn
						figure
							a.news-img(href="#!")
								img(src="img/news/3.jpg", alt="")
							figcaption
								h3.news-name 
									a(href="#!") Nên mua đồng hộ Thụy Sỹ, Nhật bản hay thời trang?
								.news-des Chúng ta cùng điểm qua những nét làm nên thương hiệu cho các dòng đồng hồ có trên thị trường hiện nay.
								a.link(href="#!") Xem thêm
				article.col-12.col-sm-6.col-xl-3
					.news-col.wow.zoomIn
						figure
							a.news-img(href="#!")
								img(src="img/news/4.jpg", alt="")
							figcaption
								h3.news-name 
									a(href="#!") Nên mua đồng hộ Thụy Sỹ, Nhật bản hay thời trang?
								.news-des Chúng ta cùng điểm qua những nét làm nên thương hiệu cho các dòng đồng hồ có trên thị trường hiện nay.
								a.link(href="#!") Xem thêm