.container
	.row.flex.flex-wrap.clearfix
		.col-12
			include bannerads
		include filter
		.col-main.clearfix
			section.product-page.clearfix
				.btn-togglewrap.d-lg-none
					.btn-showcate Danh mục sản phẩm
					.btn-showfilter Lọc sản phẩm
				.category-info.clearfix.wow.fadeInUp
					.product-sort.clearfix
						select
							option(value="#") Sắp xếp theo
							option(value="#") Bán chạy nhất
							option(value="#") Hàng mới về
							option(value="#") Giá cao nhất
							option(value="#") Giá thấp nhất
					h1.cate-name Đồng hồ nam
					.amount Tìm thấy 60 sản phẩm
				.product-list.clearfix.wow.fadeInUp
					.row
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure.wow.zoomIn
									.promotion.new NEW
									.img-wrap
										a.product-img(href="#")
											img(src="img/product/1.png", alt="")
									figcaption
										.product-brand CASIO
										h3.product-name
											a(href="#") SKAGEN SKW6234
										.product-status Tình trạng: Sẵn hàng
										.product-view Lượt xem: 1164
										.product-price.clearfix
											.new 5.312.000 đ
											.old 6.650.000 đ
										.btn-productwrap
											a.btn-view(href="#") Chi tiết
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure.wow.zoomIn
									.promotion.hot HOT
									.img-wrap
										a.product-img(href="#")
											img(src="img/product/2.png", alt="")
									figcaption
										.product-brand CASIO
										h3.product-name
											a(href="#") SKAGEN SKW6234
										.product-status Tình trạng: Sẵn hàng
										.product-view Lượt xem: 1164
										.product-price.clearfix
											.new 5.312.000 đ
											.old 6.650.000 đ
										.btn-productwrap
											a.btn-view(href="#") Chi tiết
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure.wow.zoomIn
									.img-wrap
										a.product-img(href="#")
											img(src="img/product/3.png", alt="")
									figcaption
										.product-brand CASIO
										h3.product-name
											a(href="#") SKAGEN SKW6234
										.product-status Tình trạng: Sẵn hàng
										.product-view Lượt xem: 1164
										.product-price.clearfix
											.new 5.312.000 đ
											.old 6.650.000 đ
										.btn-productwrap
											a.btn-view(href="#") Chi tiết
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure.wow.zoomIn 
									.img-wrap
										a.product-img(href="#")
											img(src="img/product/4.png", alt="")
									figcaption
										.product-brand CASIO
										h3.product-name
											a(href="#") SKAGEN SKW6234
										.product-status Tình trạng: Sẵn hàng
										.product-view Lượt xem: 1164
										.product-price.clearfix
											.new 5.312.000 đ
											.old 6.650.000 đ
										.btn-productwrap
											a.btn-view(href="#") Chi tiết
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure.wow.zoomIn 
									.promotion.new NEW
									.img-wrap
										a.product-img(href="#")
											img(src="img/product/5.png", alt="")
									figcaption
										.product-brand CASIO
										h3.product-name
											a(href="#") SKAGEN SKW6234
										.product-status Tình trạng: Sẵn hàng
										.product-view Lượt xem: 1164
										.product-price.clearfix
											.new 5.312.000 đ
											.old 6.650.000 đ
										.btn-productwrap
											a.btn-view(href="#") Chi tiết
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure.wow.zoomIn 
									.promotion.hot HOT
									.img-wrap
										a.product-img(href="#")
											img(src="img/product/6.png", alt="")
									figcaption
										.product-brand CASIO
										h3.product-name
											a(href="#") SKAGEN SKW6234
										.product-status Tình trạng: Sẵn hàng
										.product-view Lượt xem: 1164
										.product-price.clearfix
											.new 5.312.000 đ
											.old 6.650.000 đ
										.btn-productwrap
											a.btn-view(href="#") Chi tiết
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure.wow.zoomIn 
									.promotion.sale -10%
									.img-wrap
										a.product-img(href="#")
											img(src="img/product/7.png", alt="")
									figcaption
										.product-brand CASIO
										h3.product-name
											a(href="#") SKAGEN SKW6234
										.product-status Tình trạng: Sẵn hàng
										.product-view Lượt xem: 1164
										.product-price.clearfix
											.new 5.312.000 đ
											.old 6.650.000 đ
										.btn-productwrap
											a.btn-view(href="#") Chi tiết
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure.wow.zoomIn 
									.img-wrap
										a.product-img(href="#")
											img(src="img/product/8.png", alt="")
									figcaption
										.product-brand CASIO
										h3.product-name
											a(href="#") SKAGEN SKW6234
										.product-status Tình trạng: Sẵn hàng
										.product-view Lượt xem: 1164
										.product-price.clearfix
											.new 5.312.000 đ
											.old 6.650.000 đ
										.btn-productwrap
											a.btn-view(href="#") Chi tiết
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure.wow.zoomIn 
									.img-wrap
										a.product-img(href="#")
											img(src="img/product/9.png", alt="")
									figcaption
										.product-brand CASIO
										h3.product-name
											a(href="#") SKAGEN SKW6234
										.product-status Tình trạng: Sẵn hàng
										.product-view Lượt xem: 1164
										.product-price.clearfix
											.new 5.312.000 đ
											.old 6.650.000 đ
										.btn-productwrap
											a.btn-view(href="#") Chi tiết
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure.wow.zoomIn 
									.promotion.new NEW
									.img-wrap
										a.product-img(href="#")
											img(src="img/product/10.png", alt="")
									figcaption
										.product-brand CASIO
										h3.product-name
											a(href="#") SKAGEN SKW6234
										.product-status Tình trạng: Sẵn hàng
										.product-view Lượt xem: 1164
										.product-price.clearfix
											.new 5.312.000 đ
											.old 6.650.000 đ
										.btn-productwrap
											a.btn-view(href="#") Chi tiết
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure.wow.zoomIn 
									.promotion.sale -10%
									.img-wrap
										a.product-img(href="#")
											img(src="img/product/11.png", alt="")
									figcaption
										.product-brand CASIO
										h3.product-name
											a(href="#") SKAGEN SKW6234
										.product-status Tình trạng: Sẵn hàng
										.product-view Lượt xem: 1164
										.product-price.clearfix
											.new 5.312.000 đ
											.old 6.650.000 đ
										.btn-productwrap
											a.btn-view(href="#") Chi tiết
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure.wow.zoomIn 
									.img-wrap
										a.product-img(href="#")
											img(src="img/product/12.png", alt="")
									figcaption
										.product-brand CASIO
										h3.product-name
											a(href="#") SKAGEN SKW6234
										.product-status Tình trạng: Sẵn hàng
										.product-view Lượt xem: 1164
										.product-price.clearfix
											.new 5.312.000 đ
											.old 6.650.000 đ
										.btn-productwrap
											a.btn-view(href="#") Chi tiết
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure.wow.zoomIn 
									.img-wrap
										a.product-img(href="#")
											img(src="img/product/13.png", alt="")
									figcaption
										.product-brand CASIO
										h3.product-name
											a(href="#") SKAGEN SKW6234
										.product-status Tình trạng: Sẵn hàng
										.product-view Lượt xem: 1164
										.product-price.clearfix
											.new 5.312.000 đ
											.old 6.650.000 đ
										.btn-productwrap
											a.btn-view(href="#") Chi tiết
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure.wow.zoomIn 
									.promotion.hot HOT
									.img-wrap
										a.product-img(href="#")
											img(src="img/product/14.png", alt="")
									figcaption
										.product-brand CASIO
										h3.product-name
											a(href="#") SKAGEN SKW6234
										.product-status Tình trạng: Sẵn hàng
										.product-view Lượt xem: 1164
										.product-price.clearfix
											.new 5.312.000 đ
											.old 6.650.000 đ
										.btn-productwrap
											a.btn-view(href="#") Chi tiết
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure.wow.zoomIn 
									.promotion.sale -10%
									.img-wrap
										a.product-img(href="#")
											img(src="img/product/15.png", alt="")
									figcaption
										.product-brand CASIO
										h3.product-name
											a(href="#") SKAGEN SKW6234
										.product-status Tình trạng: Sẵn hàng
										.product-view Lượt xem: 1164
										.product-price.clearfix
											.new 5.312.000 đ
											.old 6.650.000 đ
										.btn-productwrap
											a.btn-view(href="#") Chi tiết
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure.wow.zoomIn 
									.img-wrap
										a.product-img(href="#")
											img(src="img/product/16.png", alt="")
									figcaption
										.product-brand CASIO
										h3.product-name
											a(href="#") SKAGEN SKW6234
										.product-status Tình trạng: Sẵn hàng
										.product-view Lượt xem: 1164
										.product-price.clearfix
											.new 5.312.000 đ
											.old 6.650.000 đ
										.btn-productwrap
											a.btn-view(href="#") Chi tiết
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure.wow.zoomIn
									.promotion.new NEW
									.img-wrap
										a.product-img(href="#")
											img(src="img/product/1.png", alt="")
									figcaption
										.product-brand CASIO
										h3.product-name
											a(href="#") SKAGEN SKW6234
										.product-status Tình trạng: Sẵn hàng
										.product-view Lượt xem: 1164
										.product-price.clearfix
											.new 5.312.000 đ
											.old 6.650.000 đ
										.btn-productwrap
											a.btn-view(href="#") Chi tiết
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure.wow.zoomIn
									.promotion.hot HOT
									.img-wrap
										a.product-img(href="#")
											img(src="img/product/2.png", alt="")
									figcaption
										.product-brand CASIO
										h3.product-name
											a(href="#") SKAGEN SKW6234
										.product-status Tình trạng: Sẵn hàng
										.product-view Lượt xem: 1164
										.product-price.clearfix
											.new 5.312.000 đ
											.old 6.650.000 đ
										.btn-productwrap
											a.btn-view(href="#") Chi tiết
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure.wow.zoomIn
									.img-wrap
										a.product-img(href="#")
											img(src="img/product/3.png", alt="")
									figcaption
										.product-brand CASIO
										h3.product-name
											a(href="#") SKAGEN SKW6234
										.product-status Tình trạng: Sẵn hàng
										.product-view Lượt xem: 1164
										.product-price.clearfix
											.new 5.312.000 đ
											.old 6.650.000 đ
										.btn-productwrap
											a.btn-view(href="#") Chi tiết
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure.wow.zoomIn 
									.img-wrap
										a.product-img(href="#")
											img(src="img/product/4.png", alt="")
									figcaption
										.product-brand CASIO
										h3.product-name
											a(href="#") SKAGEN SKW6234
										.product-status Tình trạng: Sẵn hàng
										.product-view Lượt xem: 1164
										.product-price.clearfix
											.new 5.312.000 đ
											.old 6.650.000 đ
										.btn-productwrap
											a.btn-view(href="#") Chi tiết
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure.wow.zoomIn 
									.promotion.new NEW
									.img-wrap
										a.product-img(href="#")
											img(src="img/product/5.png", alt="")
									figcaption
										.product-brand CASIO
										h3.product-name
											a(href="#") SKAGEN SKW6234
										.product-status Tình trạng: Sẵn hàng
										.product-view Lượt xem: 1164
										.product-price.clearfix
											.new 5.312.000 đ
											.old 6.650.000 đ
										.btn-productwrap
											a.btn-view(href="#") Chi tiết
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure.wow.zoomIn 
									.promotion.hot HOT
									.img-wrap
										a.product-img(href="#")
											img(src="img/product/6.png", alt="")
									figcaption
										.product-brand CASIO
										h3.product-name
											a(href="#") SKAGEN SKW6234
										.product-status Tình trạng: Sẵn hàng
										.product-view Lượt xem: 1164
										.product-price.clearfix
											.new 5.312.000 đ
											.old 6.650.000 đ
										.btn-productwrap
											a.btn-view(href="#") Chi tiết
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure.wow.zoomIn 
									.promotion.sale -10%
									.img-wrap
										a.product-img(href="#")
											img(src="img/product/7.png", alt="")
									figcaption
										.product-brand CASIO
										h3.product-name
											a(href="#") SKAGEN SKW6234
										.product-status Tình trạng: Sẵn hàng
										.product-view Lượt xem: 1164
										.product-price.clearfix
											.new 5.312.000 đ
											.old 6.650.000 đ
										.btn-productwrap
											a.btn-view(href="#") Chi tiết
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure.wow.zoomIn 
									.img-wrap
										a.product-img(href="#")
											img(src="img/product/8.png", alt="")
									figcaption
										.product-brand CASIO
										h3.product-name
											a(href="#") SKAGEN SKW6234
										.product-status Tình trạng: Sẵn hàng
										.product-view Lượt xem: 1164
										.product-price.clearfix
											.new 5.312.000 đ
											.old 6.650.000 đ
										.btn-productwrap
											a.btn-view(href="#") Chi tiết
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure.wow.zoomIn 
									.img-wrap
										a.product-img(href="#")
											img(src="img/product/9.png", alt="")
									figcaption
										.product-brand CASIO
										h3.product-name
											a(href="#") SKAGEN SKW6234
										.product-status Tình trạng: Sẵn hàng
										.product-view Lượt xem: 1164
										.product-price.clearfix
											.new 5.312.000 đ
											.old 6.650.000 đ
										.btn-productwrap
											a.btn-view(href="#") Chi tiết
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure.wow.zoomIn 
									.promotion.new NEW
									.img-wrap
										a.product-img(href="#")
											img(src="img/product/10.png", alt="")
									figcaption
										.product-brand CASIO
										h3.product-name
											a(href="#") SKAGEN SKW6234
										.product-status Tình trạng: Sẵn hàng
										.product-view Lượt xem: 1164
										.product-price.clearfix
											.new 5.312.000 đ
											.old 6.650.000 đ
										.btn-productwrap
											a.btn-view(href="#") Chi tiết
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure.wow.zoomIn 
									.promotion.sale -10%
									.img-wrap
										a.product-img(href="#")
											img(src="img/product/11.png", alt="")
									figcaption
										.product-brand CASIO
										h3.product-name
											a(href="#") SKAGEN SKW6234
										.product-status Tình trạng: Sẵn hàng
										.product-view Lượt xem: 1164
										.product-price.clearfix
											.new 5.312.000 đ
											.old 6.650.000 đ
										.btn-productwrap
											a.btn-view(href="#") Chi tiết
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure.wow.zoomIn 
									.img-wrap
										a.product-img(href="#")
											img(src="img/product/12.png", alt="")
									figcaption
										.product-brand CASIO
										h3.product-name
											a(href="#") SKAGEN SKW6234
										.product-status Tình trạng: Sẵn hàng
										.product-view Lượt xem: 1164
										.product-price.clearfix
											.new 5.312.000 đ
											.old 6.650.000 đ
										.btn-productwrap
											a.btn-view(href="#") Chi tiết
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure.wow.zoomIn 
									.img-wrap
										a.product-img(href="#")
											img(src="img/product/13.png", alt="")
									figcaption
										.product-brand CASIO
										h3.product-name
											a(href="#") SKAGEN SKW6234
										.product-status Tình trạng: Sẵn hàng
										.product-view Lượt xem: 1164
										.product-price.clearfix
											.new 5.312.000 đ
											.old 6.650.000 đ
										.btn-productwrap
											a.btn-view(href="#") Chi tiết
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure.wow.zoomIn 
									.promotion.hot HOT
									.img-wrap
										a.product-img(href="#")
											img(src="img/product/14.png", alt="")
									figcaption
										.product-brand CASIO
										h3.product-name
											a(href="#") SKAGEN SKW6234
										.product-status Tình trạng: Sẵn hàng
										.product-view Lượt xem: 1164
										.product-price.clearfix
											.new 5.312.000 đ
											.old 6.650.000 đ
										.btn-productwrap
											a.btn-view(href="#") Chi tiết
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure.wow.zoomIn 
									.promotion.sale -10%
									.img-wrap
										a.product-img(href="#")
											img(src="img/product/15.png", alt="")
									figcaption
										.product-brand CASIO
										h3.product-name
											a(href="#") SKAGEN SKW6234
										.product-status Tình trạng: Sẵn hàng
										.product-view Lượt xem: 1164
										.product-price.clearfix
											.new 5.312.000 đ
											.old 6.650.000 đ
										.btn-productwrap
											a.btn-view(href="#") Chi tiết
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure.wow.zoomIn 
									.img-wrap
										a.product-img(href="#")
											img(src="img/product/16.png", alt="")
									figcaption
										.product-brand CASIO
										h3.product-name
											a(href="#") SKAGEN SKW6234
										.product-status Tình trạng: Sẵn hàng
										.product-view Lượt xem: 1164
										.product-price.clearfix
											.new 5.312.000 đ
											.old 6.650.000 đ
										.btn-productwrap
											a.btn-view(href="#") Chi tiết
			.pages.wow.fadeInUp
				ul.pagination
					li.active
						a(href="#") 1
					li 
						a(href="#") 2
					li 
						a(href="#") 3
					li 
						a(href="#") 4