.container
	.row
		.col-12.col-lg-9.col-xl-9
			section.news-page.clearfix
				h2.page-title Apple vừa giới thiệu Apple Watch Series 3: thiết kế không đổi, có thể cắm SIM và chứa được hơn 40 triệu bài hát
				.news-info
					time 19/05/2017
				.news-content.content
					p 
						strong Chiếc đồng hồ thế hệ tiếp theo của Apple được tích hợp thêm rất nhiều tính năng hữu ích hơn cho người dùng.
					p Như vậy, Apple đã vén màn mở đầu sự kiện ngày hôm nay với sự xuất hiện của Apple Watch Series 3. Điểm đặc biệt của dòng sản phẩm thế hệ thứ 3 này là được tích hợp mạng LTE/4G, điều này giúp người dùng có thể stream nhạc và gọi điện thoại mà không cần phải kết nối với iPhone.
					figure
						img(src="http://kenh14cdn.com/thumb_w/620/2017/vpavic-120916-1220-0308-0-0-1505237755111.jpg", alt="")
					p Ngoài ra, người dùng còn có thể lưu trữ lên đến 40 triệu bài hát trên chiếc đồng hồ thế hệ mới này và nghe nhạc thông qua tai nghe không dây (Apple Watch đời trước có 8 GB bộ nhớ trong và chỉ chừa 2 GB để người dùng lưu nhạc mà thôi). Apple Watch Series 3 còn có hệ thống định vị GPS tích hợp, vì vậy người dùng không cần nhờ đến điện thoại để đo đạc chính xác quãng đường đã chạy bộ nữa.
					figure
						img(src="http://kenh14cdn.com/thumb_w/620/2017/apple-iphone-2017-20170912-10550-1505239086672.JPG", alt="")
					p Tất nhiên, với việc "vác" hẳn một số tính năng kết nối từ điện thoại sang đồng hồ (trong đó có cả kết nối mạng LTE) đã giúp Apple Watch Series 3 trở thành thiết bị độc lập hơn, ít phải phụ thuộc vào điện thoại hơn trước.
					figure
						img(src="http://kenh14cdn.com/thumb_w/620/2017/apple-iphone-2017-20170912-10559-1505239100058.JPG", alt="")
					p Apple không phải là hãng đầu tiên có đồng hồ tích hợp LTE, trên thực tế trước đây đã có Gear S3 của Samsung với kết nối GPS và LTE, rồi cả LG Watch Urbane phiên bản 2. Nhưng nhìn vào tổng thể, cả 2 sản phẩm đều vướng phải vấn đề về thiết kế lẫn thời lượng pin khi tích hợp quá nhiều công nghệ vào một sản phẩm đeo trên cổ tay.
					figure
						img(src="http://kenh14cdn.com/thumb_w/620/2017/apple-iphone-2017-20170912-10639-1505239133306.JPG", alt="")
					figure
						img(src="http://kenh14cdn.com/thumb_w/620/2017/apple-iphone-2017-20170912-10670-1505239147474.JPG", alt="")
				
				.share
					img(src="img/share.jpg", alt="")
				.other-news
					.small-title Tin tức liên quan
					.post-list
						a.post(href="#") Apple vừa giới thiệu Apple Watch Series 3: thiết kế không đổi, có thể cắm SIM và chứa được hơn 40 triệu bài hát
						a.post(href="#") Apple vừa giới thiệu Apple Watch Series 3: thiết kế không đổi, có thể cắm SIM và chứa được hơn 40 triệu bài hát
						a.post(href="#") Apple vừa giới thiệu Apple Watch Series 3: thiết kế không đổi, có thể cắm SIM và chứa được hơn 40 triệu bài hát
						a.post(href="#") Apple vừa giới thiệu Apple Watch Series 3: thiết kế không đổi, có thể cắm SIM và chứa được hơn 40 triệu bài hát
						a.post(href="#") Apple vừa giới thiệu Apple Watch Series 3: thiết kế không đổi, có thể cắm SIM và chứa được hơn 40 triệu bài hát
		.col-12.col-lg-3.col-xl-3
			nav.sidebar-category.clearfix
				.small-title Danh mục tin tức
				ul.sidebar-link
					li.active
						a(href="#") Tin thị trường
					li
						a(href="#") Tin công nghệ
					li
						a(href="#") Tin khuyến mãi
			section.lastest-news.clearfix
				.small-title Tin mới nhất
				.post-list
					.post.big
						figure
							a.post-img(href="#")
								img(src="img/news/1.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") 15 năm chính thức có mặt ở Việt Nam, Sky Watch giảm giá 50%
								time 12/07/2017
					.post
						figure
							figcaption
								h3.post-name
									a(href="#") 15 năm chính thức có mặt ở Việt Nam, Sky Watch giảm giá 50%
								time 12/07/2017
					.post
						figure
							figcaption
								h3.post-name
									a(href="#") 15 năm chính thức có mặt ở Việt Nam, Sky Watch giảm giá 50%
								time 12/07/2017
					.post
						figure
							figcaption
								h3.post-name
									a(href="#") 15 năm chính thức có mặt ở Việt Nam, Sky Watch giảm giá 50%
								time 12/07/2017
					.post
						figure
							figcaption
								h3.post-name
									a(href="#") 15 năm chính thức có mặt ở Việt Nam, Sky Watch giảm giá 50%
								time 12/07/2017
					.post
						figure
							figcaption
								h3.post-name
									a(href="#") 15 năm chính thức có mặt ở Việt Nam, Sky Watch giảm giá 50%
								time 12/07/2017
	section.product-other.clearfix
		.small-title.wow.fadeInUp Sản phẩm liên quan
		.other-slide.product-list
			.item
				.product-col
					figure.wow.zoomIn
						.promotion.new NEW
						.img-wrap
							a.product-img(href="#")
								img(src="img/product/1.png", alt="")
						figcaption
							.product-brand CASIO
							h3.product-name
								a(href="#") SKAGEN SKW6234
							.product-status Tình trạng: Sẵn hàng
							.product-view Lượt xem: 1164
							.product-price.clearfix
								.new 5.312.000 đ
								.old 6.650.000 đ
							.btn-productwrap
								a.btn-view(href="#") Chi tiết
			.item
				.product-col
					figure.wow.zoomIn
						.promotion.hot HOT
						.img-wrap
							a.product-img(href="#")
								img(src="img/product/2.png", alt="")
						figcaption
							.product-brand CASIO
							h3.product-name
								a(href="#") SKAGEN SKW6234
							.product-status Tình trạng: Sẵn hàng
							.product-view Lượt xem: 1164
							.product-price.clearfix
								.new 5.312.000 đ
								.old 6.650.000 đ
							.btn-productwrap
								a.btn-view(href="#") Chi tiết
			.item
				.product-col
					figure.wow.zoomIn
						.img-wrap
							a.product-img(href="#")
								img(src="img/product/3.png", alt="")
						figcaption
							.product-brand CASIO
							h3.product-name
								a(href="#") SKAGEN SKW6234
							.product-status Tình trạng: Sẵn hàng
							.product-view Lượt xem: 1164
							.product-price.clearfix
								.new 5.312.000 đ
								.old 6.650.000 đ
							.btn-productwrap
								a.btn-view(href="#") Chi tiết
			.item
				.product-col
					figure.wow.zoomIn 
						.img-wrap
							a.product-img(href="#")
								img(src="img/product/4.png", alt="")
						figcaption
							.product-brand CASIO
							h3.product-name
								a(href="#") SKAGEN SKW6234
							.product-status Tình trạng: Sẵn hàng
							.product-view Lượt xem: 1164
							.product-price.clearfix
								.new 5.312.000 đ
								.old 6.650.000 đ
							.btn-productwrap
								a.btn-view(href="#") Chi tiết
			.item
				.product-col
					figure.wow.zoomIn 
						.promotion.new NEW
						.img-wrap
							a.product-img(href="#")
								img(src="img/product/5.png", alt="")
						figcaption
							.product-brand CASIO
							h3.product-name
								a(href="#") SKAGEN SKW6234
							.product-status Tình trạng: Sẵn hàng
							.product-view Lượt xem: 1164
							.product-price.clearfix
								.new 5.312.000 đ
								.old 6.650.000 đ
							.btn-productwrap
								a.btn-view(href="#") Chi tiết
			.item
				.product-col
					figure.wow.zoomIn 
						.promotion.hot HOT
						.img-wrap
							a.product-img(href="#")
								img(src="img/product/6.png", alt="")
						figcaption
							.product-brand CASIO
							h3.product-name
								a(href="#") SKAGEN SKW6234
							.product-status Tình trạng: Sẵn hàng
							.product-view Lượt xem: 1164
							.product-price.clearfix
								.new 5.312.000 đ
								.old 6.650.000 đ
							.btn-productwrap
								a.btn-view(href="#") Chi tiết
			.item
				.product-col
					figure.wow.zoomIn 
						.promotion.sale -10%
						.img-wrap
							a.product-img(href="#")
								img(src="img/product/7.png", alt="")
						figcaption
							.product-brand CASIO
							h3.product-name
								a(href="#") SKAGEN SKW6234
							.product-status Tình trạng: Sẵn hàng
							.product-view Lượt xem: 1164
							.product-price.clearfix
								.new 5.312.000 đ
								.old 6.650.000 đ
							.btn-productwrap
								a.btn-view(href="#") Chi tiết