footer
	.container
		.footer-contact
			.row
				.col-12.col-md-6
					.contact-col
						figure
							.icon
								img(src="img/phone.png", alt="")
							figcaption
								.title Gọi mua hàng (08:30-21:30)
								.des Tất cả các ngày trong tuần
						.hotline
							a(href="tel:1900636797") 1900.636.797
				.col-12.col-md-6
					.contact-col
						figure
							.icon
								img(src="img/chat.png", alt="")
							figcaption
								.title Góp ý, khiếu nại (08:30-21:30)
								.des Các ngày trong tuần (trừ ngày lễ)
						.hotline
							a(href="tel:0979634373") 0979.634.373
		.footer-sitemap
			.row
				.col-12.col-md-4
					.footer-col
						.title.text-center SkyWatch là ai?
						nav.footerlink.text-center
							ul
								li
									a(href="#") Giới thiệu
								li
									a(href="#") Triết lý kinh doanh
								li
									a(href="#") Hệ thống cửa hàng
								li
									a(href="#") Tại sao chọn SkyWatch?
								li
									a(href="#") Liên hệ
				.col-12.col-md-4
					.footer-col
						.title.text-center Tin tức & Sự kiện
						nav.footerlink.text-center
							ul
								li
									a(href="#") Giấy chứng nhận
								li
									a(href="#") Tin khuyến mãi
								li
									a(href="#") Đánh giá đồng hồ
								li
									a(href="#") Tuyển dụng
				.col-12.col-md-4
					.footer-col
						.title.text-center Tư vấn & Sản phẩm
						nav.footerlink.text-center
							ul
								li
									a(href="#") Dịch vụ bảo hành & sửa chữa
								li
									a(href="#") Thương hiệu đồng hồ
								li
									a(href="#") Hỏi đáp
		.footer-support.clearfix
			.support-col
				a(href="#")
					.icon
						img(src="img/icon/h1.png", alt="")
					.text Cam kết chính hãng
			.support-col
				a(href="#")
					.icon
						img(src="img/icon/h2.png", alt="")
					.text Bảo hành lên đến 7 năm
			.support-col
				a(href="#")
					.icon
						img(src="img/icon/h3.png", alt="")
					.text Hậu mãi tuyệt vời
			.support-col
				a(href="#")
					.icon
						img(src="img/icon/h4.png", alt="")
					.text Đổi trả 1 đổi 1 trong 7 - 15 ngày
			.support-col
				a(href="#")
					.icon
						img(src="img/icon/h5.png", alt="")
					.text Giao hàng toàn quốc nhanh chóng
		.footer-main.clearfix
			.row
				.col-12.col-sm-6.col-lg-3
					.footer-col
						.title Thông tin liên hệ
						.contact-info
							p Quyền Sở Hữu & Bản Quyền Website Này Thuộc : SKYWATCH
							ul
								li <i class="fa fa-home" aria-hidden="true"></i> 830/11A2 Sư Vạn Hạnh, Phường 13, Quận 10, TP.HCM
								li <i class="fa fa-phone" aria-hidden="true"></i> 
									a(href="tel:083 9797 369") 083 9797 369
								li <i class="fa fa-phone" aria-hidden="true"></i> 
									a(href="tel:1900.636.797") 1900 636 797
				.col-12.col-sm-6.col-lg-3
					.footer-col
						.title Tin nổi bật
						nav.footerlink
							ul
								li
									a(href="#") Nên mua đồng hồ Thuỵ Sĩ, Nhật Bản hay thời trang?
								li
									a(href="#") Skywatch nơi xây dựng sự “tin tưởng”
								li
									a(href="#") Tưng bừng khai trương shop thứ 45 của Skywatch tại Vincom PLAZA Hà Tĩnh
				.col-12.col-sm-6.col-lg-3
					.footer-col
						.title Đăng ký nhận bản tin
						.subscribe
							.module-title Nhập email để nhận thông tin mới nhất từ Skywatch
							.subscribefrm
								input(type="text" placeholder="Nhập email...")
								button.subscribebutton Đăng ký
						.footer-icon
							a(href="#")
								img(src="img/bct.png", alt="")
							a(href="#")
								img(src="img/norton.png", alt="")
				.col-12.col-sm-6.col-lg-3
					.footer-col
						.title Theo dõi chúng tôi
						.fanpage
							img(src="img/fanpage.png", alt="")
		nav.footer-nav
			a(href="#") Hướng dẫn chọn đồng hồ
			a(href="#") Hướng dẫn mua hàng online
			a(href="#") Chính sách khách hàng thân thiết
			a(href="#") Chính sách đổi trả
			a(href="#") Thanh toán giao nhận
		.footer-bottom.clearfix
			.copyright © 2017 Skywatch. All Right Reserved.
.up